@media (max-width:1120px){
    .film__box{
        gap: 30px;
        overflow: hidden;
        overflow-x: auto;
    }
    .film__card{
        flex-shrink: 0;
    }
    .film__box::-webkit-scrollbar{
        height: 5px;
    }
    .film__box::-webkit-scrollbar-thumb{
        background:  linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    }
    .collect__box{
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

}
@media (max-width:1000px){
    .series__box{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        max-width: 540px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .widow{
        margin-top: 30px;
        background:rgba(255, 255, 255, 0.6);
        display: flex;
        align-items: center;
    }
   
}
@media (max-width:800px){
    .collect__box{
        gap: 15px;
    }
    .title{
        font-size: 30px;
        line-height: 120%;
        margin: 30px 0;
        padding-bottom: 0;
    }
}
@media (max-width:750px){
    .collect__card{
        width: 280px;
        height: 170px;
    }
    .left__line,
    .right__line{
        height: 155px;
    }
    .play__icon{
        font-size: 35px;
    }
    .collect__title{
        margin-top: 10px;
        font-size: 18px;
    }
}
@media (max-width:650px){
    .game{
        height: 380px;
    }
    .game__title{
        font-size: 35px;
        line-height: 35px;
    }
    .game__text{
        margin: 20px 0;
        text-align: justify;
    }
    .widow__title{
        display: block;
        margin: 0 auto;
        width: 380px;
    }
    .widow__text{
        margin: 30px auto;
    }
    .widow .link{
        margin: 0 auto;
    }
    .title{
        margin: 30px 0;
        font-size: 30px;
        line-height: 120%;
    }
    .film__card{
        width: 220px;
        height: 300px;
        padding: 15px;
        background-position: center;
    }
    .play {
        font-size: 35px;
    }
    .film__time{
        margin-top: 12px;
        padding: 6px 15px;
    }
    .film__title{
        margin: 12px 0;
        font-size: 18px;
        line-height: 120%;
    }
    .film__text{
        font-size: 13px;
        line-height: 130%;
    }
    .header{
        height: 550px;
        text-align: center;
    }
    .header__title{
        font-size: 55px;
   
    }
    .header__text{
        margin: 30px 0;
    }
    .link{
        width: 140px;
        height: 40px;
    }
    .header__info{
        justify-content: center;
    }
    .nav__logo img{
        width: 80px;
    }
    .nav__logo{
        font-size: 16px;
    }
}
@media (max-width:550px){
    .series__box{
        display: flex;
        gap: 15px;
        margin-top: 15px;
        overflow: hidden;
        overflow-x: auto;
    }
    .series__card{
        flex-shrink: 0;
        width: 230px;
        min-height: 160px;
    }
    .series__title{
        margin-top: 10px;
        font-size: 20px;
        line-height: 120%;
    }
    .series__box::-webkit-scrollbar{
        height: 5px;
    }
    .series__box::-webkit-scrollbar-thumb{
        background:  linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    }
    .widow{
        height: 450px;
    }
    .widow__title{
        width: 300px;
    }
    .widow__text{
        margin: 20px auto;
        font-size: 16px;
        line-height: 130%;
    }
    .header{
        height: 450px;
    }
    .header__title{
        font-size: 40px;
    }
    .header__text{
        margin: 20px 0;
        font-size: 15px;
        line-height: 140%;
    }
    .link{
        width: 120px;
        height: 35px;
    }
    .nav__info {
        flex-direction: column;
    }
    .nav{
        height: max-content;
        padding-top: 10px;
    }
    .nav__link{
        margin: 0;
    }
    .nav__link span{
        padding: 12px;
    }
    .top__info{
        height: 60px;
    }
    .film__icon {
        font-size: 30px;
    }
    .top__text{
        font-size: 14px;
        line-height: 120%;
    }
    .top{
        top: -60px;
    }
}
@media (max-width:500px){
   .game{
    height: 320px;
    padding: 0 10px;
   }
   .game__title{
    font-size: 28px;
   }
   .game__text{
    margin: 10px 0;
    font-size: 15px;
    line-height: 130%;
   }
}
@media (max-width:420px){
    .game__title{
        font-size: 24px;
    }
    .game__text{
        font-size: 13px;
        line-height: 130%;
    }
    .link{
        width: 100px;
        height: 30px;
        font-size: 13px;
    }
    .title{
        font-size: 28px;
        margin: 15px 0;
    }
    .widow{
        height: 380px;
    }
    .widow__title{
        width: 250px;
    }
    .widow__text{
        margin: 15px auto;
        font-size: 14px;
        line-height: 120%;
    }
    .header{
        height: 350px;
    }
    .header__title{
        font-size: 30px;
    }
    .header__text{
        margin: 15px 0;
        line-height: 130%;
        font-size: 14px;
    }
}